body {

  font-family: Arial;

  text-align: center;

  margin-top: 50px;

}

h1 {

  color: blue;

}

input {

  padding: 10px;

  margin: 10px;

}

button {

  padding: 10px 20px;

}
textarea {

  display: block;

  margin: 10px auto;

  width: 250px;

  height: 80px;

}
const enterBtn =

document.querySelector("#enterBtn");

if (enterBtn) {

  enterBtn.onclick = function () {

    document.querySelector(

      "#landingPage"

    ).style.display = "none";

    document.querySelector(

      "#homePage"

    ).style.display = "block";

  };

}
